@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <img src="@Url.Content("~/Image/banner.jpg")" />
    <h1>asdasda</h1>
    <h1>asdasda</h1>
    <h1>asdasda</h1>
    <h1>asdasda</h1>
    <h1>asdasda</h1>
    <h1>asdasda</h1>
    <h1>asdasda</h1>
    <h1>asdasda</h1>
    <h1>asdasda</h1>
    <h1>asdasda</h1>
    <h1>asdasda</h1>
</div>